<div class="search wrapper">
    <form action="{{ path("unoegohh_shop_search") }}" method="get">
        <div class="field text">
            <div class="icon search"></div>
            <input type="text" value="{{ query }}" name="query" placeholder="Что ищем?"/>
        </div>
        <button class="btn search_btn theme_color">
            Поиск
        </button>
    </form>
</div>