<!DOCTYPE html>
<html>
    <head>
        <title>TechArtStore - BassEGG</title>
        <link rel="stylesheet" href="/css/index.css"/>
        <meta name="viewport" content="width=1100" />
        <link rel="shortcut icon" href="/favicon.ico?v=2" />

    </head>
    <body>
        <header>
            <div class="main_wrapper">
                <div id="logo_wrapper">
                    <a href="/"></a>
                </div>
                <div class="divider"></div>
                <div id="header_text">
                    <p style="margin: 26px 0 0 0 ;font-size: 20px">Art of Technology</p>
                </div>
                <div class="divider"></div>
                <div id="header_phone">
                    <p style="margin-top: 10px"><i class="header_phone_icon icon"></i><a  href="tel:+79170303555">+7 917 030 35 55</a></p>
                </div>
                <div class="divider"></div>
                <div id="lang_change">
                    <a href="{{ path('unoegohh_shop_temp_index_ru') }}">RU</a>
                    <a href="{{ path('unoegohh_shop_temp_index_eng') }}" class="active">EN</a>
                </div>
            </div>
        </header>
        <div id="main_banner">
            {#<img src="/images/main_banner.png" alt=""/>#}
        </div>
        <div class="white_content">
            <div class="main_wrapper">
                <h1 class="center">Bass Egg Verb</h1>
                <p class="center">
                    The Bass Egg is a sleek, durable, and portable audio device that <br/> transforms everyday objects into speakers.
                    <br/> Despite its small size (fits in the palm of your hand), <br/>the Bass Egg is capable of making almost anything a full-range speaker system.

                </p><br/>
                <div class="divider"></div><br/>
                <p class="center"> Tech Art LLC specializes in distribution of high-end gadgets and other state <br/> of art of modern technology in Russian Federation.
                </p>
                <p class="center">We are in constant search for new partners, interesting projects and amazing products.

                </p>
                <p class="center">In 2014 we became exclusive distributors for Bass Egg Verb in Russia.

                </p>
                <p class="center">This year we will bring more new original products to Russian market <br/>and if you are producer or regional distributor of an unique gadget please do contact us.

                </p><br/>
            </div>
        </div>
        <div class="black_content">
            <br/>
            <p class="center"><img src="/images/bass_egg_logo.png" alt=""/></p>
            <br/>
            <p class="center">
                <iframe width="560" height="315" src="//www.youtube.com/embed/iAHuEid-WLQ?rel=0" frameborder="0" allowfullscreen></iframe> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <iframe width="560" height="315" src="//www.youtube.com/embed/3OeoQq40sWk?rel=0" frameborder="0" allowfullscreen></iframe>
            </p>
            <br/>
        </div>
        <footer>
            <div class="main_wrapper">
                <div id="footer_contacts">
                    <p><i class="icon header_phone_icon"></i> +7 917 030 35 55</p>
                    <p><i class="icon mail_icon"></i> aleksey.nabokov@techartystore.ru</p>
                    <p><i class="icon geo_icon"></i> Russia, Samara, Galaktionovskaya st. 74</p>
                </div>
                <div class="divider"></div>
                <div id="footer_icons">
                    <a href="https://vk.com/basseggrus" target="_blank"><i class="icon vk_icon"></i></a>
                    <a href="http://instagram.com/bass_egg_russia" target="_blank"><i class="icon insta_icon"></i></a>
                </div>
            </div>
        </footer>
    </body>
</html>