<!DOCTYPE html>
<html>
    <head>
        <title>TechArt - Интернет магазин</title>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <header>
            <div class="main_wrapper">
                <div id="logo_wrapper">
                    <a href="/"></a>
                </div>
                <div class="divider"></div>
                <div id="header_text">
                    <p>Мы продаем не просто технику. <br/>а исскуство современной техники</p>
                </div>
                <div class="divider"></div>
                <div id="header_phone">
                    <p><i class="header_phone_icon icon"></i>8-800-700-54-58</p>
                </div>
            </div>
        </header>
        <div id="main_banner">
            {#<img src="/images/main_banner.png" alt=""/>#}
        </div>
        <div class="white_content">
            <div class="main_wrapper">
                <h1 class="center">Bass Egg Verb</h1>
                <p class="center">
                    Это новейшее изобретение в мире музыки, которое за счет вибрации превращает любую плоскую <br/>
                    поверхность в динамик ( стекло, дерево, скейтборд и даже капот автомобиля).
                </p><br/>
                <div class="divider"></div><br/>
                <p class="center">Чем больше поверхность , тем громче aзвучание.</p>
                <p class="center">Bass Egg подключается через Bluetooth и стандартный разьем 3,5" audio jack. <br/>
                    Совместим с iOS и Android.
                </p>
                <p class="center">В число прочих удобств конструкции вибродинамика можно отнести простоту управления, <br/>
                    прочный корпус, небольшой размер и вес, составляющий всего 450 гр.
                </p>
                <p class="center">Полуторочасовая зарядка Bass Egg обеспечивает до 10+ часов постоянного звучания.
                </p><br/>
                <div class="divider"></div><br/>
                <p class="center"><a href="" class="main_button">Успей купить первым!</a></p>
                <br/>
                <p class="center">Официальным дистрибьютором Bass Egg Verb на территории Российской Федерации является компания Tech Art </p>
                <br/>
            </div>
        </div>
        <div class="black_content">
            <br/>
            <p class="center"><img src="/images/bass_egg_logo.png" alt=""/></p>
            <br/>
            <p class="center">
                <iframe width="560" height="315" src="//www.youtube.com/embed/iAHuEid-WLQ?rel=0" frameborder="0" allowfullscreen></iframe>
            </p>
            <br/>
        </div>
        <footer>
            <div class="main_wrapper">
                <div id="footer_contacts">
                    <p><i class="icon header_phone_icon"></i> 8-800-700-54-58</p>
                    <p><i class="icon mail_icon"></i> info@techartstore.ru</p>
                    <p><i class="icon geo_icon"></i> г. Самара, ул. Галактионовская 74</p>
                </div>
                <div class="divider"></div>
                <div id="footer_icons">
                    <a href="/#vk"><i class="icon vk_icon"></i></a>
                    <a href="/#insta"><i class="icon insta_icon"></i></a>
                </div>
            </div>
        </footer>
    </body>
</html>